:root {
    --main-clr: #1992d4;
    --secondary-clr: #e9bc52;
    --bg-clr: #e2e8f0;
}

body { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    /* background-color: red; */
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* header */
.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header .h-top {
    height: 50%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header .h-bottom {
    margin-bottom: 15px;
    height: 50%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    margin: auto 50px;
}

input {
    margin: auto;
    margin-left: 10px;
    width: 60%;
    height: 2rem;
    background-color: #e2e8f0;
    border: none;
    border-radius: 50px;
    text-align: center;
}

.profile {
    margin: auto;
    display: flex;
    align-items: center;
}

.profile > * {
    margin: 15px;
}

.name {
    font-size: 1.3rem;
    font-weight: bold;
}

.profile-pic {
    width: 50px; 
    height: 50px; 
    border-radius: 50px; 
    border: 1px solid black;
}

.small-container {
    margin-left:  100px;
    display: flex;
}

.info {
    padding-left: 20px;
}

.info div {
    margin: 5px;
}

.main-pic {
    width: auto;
    height: 80px;
}

.greet, .person-info {
    font-weight: bold;
}

.person-info {
    font-size: 1.7rem;
}

.container-btn {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container-btn button {
    margin: 30px;
    width: 100px;
    padding: 10px;
    background-color: var(--main-clr);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
}

/* sidebar */
.sidebar {
    background-color: var(--main-clr);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    /* display: flex;
    flex-direction: column; */
    /* align-items: left; */
}

.sidebar > div {
    font-size: 1.3rem;
    margin: 45px;
    margin-top: 5px;
    padding: 5px;
}

.sidebar li {
    padding: 8px;
}


/* hero */
.hero {
    background-color: var(--bg-clr);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
}

.project {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.announce {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trend {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.p-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    min-height: 150px;
    height: auto;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    border-radius: 15px;
    margin: 20px;
    border-left: 10px solid var(--secondary-clr);
    overflow: scroll;
    position: relative;
}

.card .heading {
    font-size: 1.2rem;
    font-weight: 550;
}

.card .description {
    margin: 5px 59px 5px 0px;
}

.card .all-icons {
    width: 100%;
    /* margin-top: auto; */
    text-align: right;
    position: absolute;
    right: 100px;
    bottom: 10px;
}

.all-icons i {
    margin: 10px;
}

.side-card {
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    height: auto;
    min-height: 150px;
    border-radius: 20px;
}

.announce .side-card {
    padding: 50px;

}

.head {
    font-weight: bold;
}

.desc {
    font-weight: 300;
}

.news {
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending-card {
    padding: 50px;
    min-height: 270px;
}

.oth-profile {
    display: flex;
}

.oth-profile > * {
    margin: 10px;
}

.oth-profile .oth-caption {
    font-weight: 200;
}